{{!-- incluye los productos con mongoose --}}

<div>

    <div>
    <div class="contenedorTituloPrincipal">
 <h2>Ver todos los usuarios</h2>

  </div>

     
    <div class="contenedorprincipal">
     
        <div class="contenedorProductos" >

        {{#each users}}

        <div class="card container" style="width: 25rem;"><br>
            <div class="contenedorProductos">Nombre y Apellido: {{first_name}} {{last_name}} </div><br>
            <div class="contenedorProductos">Email: {{email}} </div> 
            <div class="contenedorProductos">Age: {{age}}</div>
            <div class="contenedorProductos">Rol: {{rol}}</div>
            <div class="contenedorProductos">Last connection: {{last_connection}}</div>

        </div>
        
        {{/each}}




        </div>
        <div class="contenedorprincipal margen">
  <form action="/deleteusers" method="post">
    <button type="submit" class="btn btn-primary">Eliminar Usuarios sin conexión por 2 días</button>
  </form>
</div>

        </div>

