{{!-- incluye los productos con mongoose --}}

<div>

    <div>
    <div class="contenedorTituloPrincipal">
 <h2>Calzas y Remeras</h2>

  </div>

     
    <div class="contenedorprincipal">
     
        <div class="contenedorProductos" >

        {{#each users}}

        <div class="card container" style="width: 25rem;"><br>
        <div class="contenedorProductos">Nombre y Apellido: {{this.first_name}} {{this.last_name}} </div><br>
        <div class="contenedorProductos">Email: {{email}} </div> 
        <div class="contenedorProductos">Age: {{age}}</div>
        <div class="contenedorProductos">Rol: {{rol}}</div>
        <div class="contenedorProductos">Cart número: {{cart}}</div><br>
                    
                
                               
                
            </div>
        
        {{/each}}

        </div>

        </div>