<div>
     <div class="contenedorTituloPrincipal">
 <h2>Carrito</h2>
  </div>


<div class="contenedorprincipal">
       <div class="contenedorProductos" >
  {{#each carrito.productosagregados}}

            <div class="card container" style="width: 18rem;">
                <img src="{{this.product.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">${{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                 
                 <button class="btn btn-secondary delete-btn" data-cid="{{cid}}" data-id="{{this._id}}">Eliminar</button><br>
              
                </div>
               
            </div>

        {{/each}}


        </div>
<div class="margen">

  <a href="/productsmongoose" class="btn btn-primary">Ver mas productos</a>
   <button class="btn btn-secondary delete-carrito" data-cid="{{cid}}">Vaciar carrito</button><br>
   
</div>
<div class="margen">
   <a href="/cartmongoose/{{carrito._id}}/purchase" class="btn btn-success">Ir a finalizar compra</a>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>

<script>

 document.querySelectorAll('.delete-btn').forEach(btn=>{
btn.addEventListener('click', async (e) =>{
const cid = e.target.dataset.cid;
 const id = e.target.dataset.id;

      try {
          const response = await fetch(`/cartmongoose/${cid}/product/${id}`, { method: 'delete'});

      if (response.ok) {
        console.log('Eliminado con éxito')
        document.location.href = `/cartmongoose/${cid}`
        console.log(response)
      } else {
        console.log('No se pudo eliminar')
      }
    }catch (error) {
      console.error('There was an error!', error);
     
    }

});
 })


 document.querySelector('.delete-carrito').onclick = async function (e) {
const cid = this.dataset.cid;
console.log('cid del handlebars', cid)

        try {
          const response = await fetch(`/cartmongoose/${cid}`, { method: 'delete'});
console.log(response)
      if (response.ok) {
        console.log('Eliminado con éxito')
        document.location.href = `/cartmongoose/${cid}`;
        console.log(response)
      } else {
        console.log('No se pudo eliminar el carrito')
      }
    }catch (error) {
      console.error('error eliminando el carrito!', error);
     
    }

}

</script>