<div>
     <div class="contenedorTituloPrincipal">
 <h2>Compra realizada exitosamente</h2>
  </div>


<div class="contenedorprincipal">
    
       <div class="margen" >

        <h3 class="margen">Compra realizada exitosamente!!</h3>
        <h5 class="margen">Podes ir a "Pagar" para abonar con tarjeta de débito/crédito o contactarse con nosotros para realizar una transferencia</h5>
         <p class="margen">Una vez realizado el pago comenzaremos a preparar tu pedido</p>
        <p class="margen">El total de la compra es de ${{ticket.amount}}</p>
        <p class="margen">La compra se realizó el dia {{ticket.purchase_datatime}}</p>
        <p class="margen">El código de la operación es {{ticket.code}}</p>
        <p class="margen">El email del usuario que registró la compra es {{ticket.purchaser}}</p><br>
    
{{!-- <a href="{{redirectBaseUrl2}}/api/payments/pagar?ticket={{ticket._id}}" class="btn btn-primary terminarCompra2">Pagar</a> --}}
    <a href="{{redirectBaseUrl2}}/api/payments/pagar?ticket={{ticket._id}}" class="btn btn-primary terminarCompra2">Pagar</a>
        </div>
<br>
<div id="response"></div>

{{#if carrito.otherProducts}}
       <h5 class="margen margen-top2">Productos que quedaron pendientes:</h5>
       <div class="contenedorProductos" >
  {{#each carrito.otherProducts}}

            <div class="card container" style="width: 18rem;">
                <img src="{{this.product.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">${{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                </div>
               
            </div>

        {{/each}}


        </div>
{{/if}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>



