<div>
     <div class="contenedorTituloPrincipal">
 <h2>Compra realizada exitosamente</h2>
  </div>


<div class="contenedorprincipal">
    
       <div class="margen" >

        <h3 class="margen">Compra realizada exitosamente!!</h3>
        
        <p class="margen">El total de la compra es de ${{ticket.amount}}</p>
        <p class="margen">La compra se realizó el dia {{ticket.purchase_datatime}}</p>
        <p class="margen">El código de la operación es {{ticket.code}}</p>
        <p class="margen">El email del usuario que registró la compra es {{ticket.purchaser}}</p><br><br>
    
    <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->
    {{!-- <form id="buyForm" action="/api/payments/payment-intents/{{ticket._id}}" method="POST">
      <button type="submit">Ir a pagar</button>
    </form> --}}
    <a href="/api/payments/pagar/{{ticket._id}}" class="btn btn-primary">Pagar</a>
        </div>
<br>
<div id="response"></div>
       <h5 class="margen margen-top2">Productos que quedaron pendientes:</h5>
       <div class="contenedorProductos" >
  {{#each carrito.otherProducts}}

            <div class="card container" style="width: 18rem;">
                <img src="{{this.product.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">${{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                </div>
               
            </div>

        {{/each}}


        </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>

<script>
  <script>


    {{!-- document.getElementById('buyForm').addEventListener ('submit', function(event) {
        event.preventDefault();
        console.log('submit para ir a pagar')
      
      const id = `{{ticket._id}}`

        try{
        const response = await  fetch(`/api/payments/payment-intents/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        
            body: JSON.stringify({ result })
        })
        if (!response.ok) {
            throw new Error('La solicitud falló'); // Manejar errores de red u otros errores en la solicitud fetch
            }
     const data = await response.json();


    console.log('data', data);


    window.location.href = '/checkout';

        }catch (error){
 console.error('Error:', error);
        }

    });
</script> --}}
