{{!-- incluye los productos con mongoose --}}

<div>

    <div>
    <div class="contenedorTituloPrincipal">
 <h2>Calzas y Remeras</h2>

  </div>

     
    <div class="contenedorprincipal">
        <div class="contenedorProductos" >

        {{#each result.productsmongoose}}

            <div class="card container" style="width: 25rem;">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}</p>
                {{!-- <a href="/productsmongoose/{{this.code}}" class="btn btn-primary>Ver</a> --}}
                <a href="/productsmongoose/{{this.code}}" class="btn btn-primary">Ver</a>
                </div>
            </div>

        {{/each}}

        </div>
    Total Productos: {{result.totalDocs}}<br>
    Paginas: {{result.page}}/{{result.totalPages}}<br>

    {{#if result.hasPrevPage}}
        <a href="/productsmongoose/?page={{result.prevPage}}&limit={{result.limit}}">Previus</a>|
    {{/if}}
    {{#if result.hasNextPage}}
        <a href="/productsmongoose/?page={{result.nextPage}}&limit={{result.limit}}">Next</a>
    {{/if}}

    </div>
<script src="/socket.io/socket.io.js"></script>

   
<script src="/static/js/index.js"></script>
    </div>


