{{!-- incluye los productos con mongoose --}}

<div>

    <div>
    <div class="contenedorTituloPrincipal">
 <h2>Calzas y Remeras</h2>

  </div>

     
    <div class="contenedorprincipal">
        <div class="contenedorProductos" >

        {{#each result.productsmongoose}}

            <div class="card container" style="width: 25rem;">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}</p>
                {{!-- <a href="/productsmongoose/{{this.code}}" class="btn btn-primary>Ver</a> --}}
                <a href="/productsmongoose/{{this.code}}" class="btn btn-primary">Ver</a>
                </div>
            </div>

        {{/each}}

        </div>
    Total Productos: {{result.totalDocs}}<br><br>
    Paginas: {{result.page}}/{{result.totalPages}}<br><br>
    Limit: <input id="limit" type="text" value="{{result.limit}}"><br><br>
    Page: <input id="page" type="text" value="{{result.page}}"><br><br>
    Query: <input id='query' type="text" value="{{result.query}}"><br><br>
    <button id="btnSearch">Buscar</button><br>

    <br><br>
    <input id="prevPage" type="hidden" value="{{result.prevPage}}">
    <input id="nextPage" type="hidden" value="{{result.nextPage}}">  

    <a id="btnPrev" href="#" {{#unless result.hasPrevPage}} style="display:none" {{/unless}}>Previus</a>
    <a id="btnNext" href="#"   {{#unless result.hasNextPage}} style="display:none" {{/unless}}>Next</a>

    </div>

<script>
document.querySelector('#btnPrev').onclick =()=>{
    const prevPage = document.querySelector('#prevPage').value 
    const limit = document.querySelector('#limit').value
    const query = document.querySelector('#query').value

    const url = `/productsmongoose/?page=${prevPage}&limit=${limit}&query=${query}`
    document.location.href = url
}
document.querySelector('#btnNext').onclick =()=>{
    const nextPage = document.querySelector('#nextPage').value 
    const limit = document.querySelector('#limit').value
    const query = document.querySelector('#query').value

    const url = `/productsmongoose/?page=${nextPage}&limit=${limit}&query=${query}`
    document.location.href = url
}
document.querySelector('#btnSearch').onclick =()=>{
    const page = document.querySelector('#page').value 
    const limit = document.querySelector('#limit').value
    const query = document.querySelector('#query').value

    const url = `/productsmongoose/?page=${page}&limit=${limit}&query=${query}`
    document.location.href = url
}

</script>
<script src="/socket.io/socket.io.js"></script>

   
<script src="/static/js/index.js"></script>
    </div>

