{{!-- para actualizar users --}}

    <div class="contenedorTituloPrincipal">
 <h2>Actualizar Usuario</h2>

  </div>
<form id="updateUserForm" action="/allusers/{{userUpdated._id}}/update" method="put" class="margen">
<br>
<h4>Usuario:</h4> <br>
   First name:  {{userUpdated.first_name}}<br>
    Last name:  {{userUpdated.last_name}}<br>
    Id: {{userUpdated._id}}<br>
    Age:  {{userUpdated.age}}<br>
    Email:  {{userUpdated.email}}<br>
    password: {{userUpdated.password}}<br><br>

    Rol: <input name="rol" value="{{userUpdated.rol}}" placeholder="{{userUpdated.rol}}"><br>
    <br>
    
<br>
  <div class="margen">
  <input type="submit" value="Actualizar">
  </div>
  
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>

<script>
    document.getElementById("updateUserForm").addEventListener("submit", function(event) {
        event.preventDefault(); 
        
          const userData = {
        rol: document.querySelector('input[name="rol"]').value
        
    };
console.log('userdate', userData)


        const userId = "{{userUpdated._id}}"; 
    console.log('userid', userId)
        fetch(`/allusers/${userId}/update`, {
           
             method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
        })
        .then(response => {
            if (response.ok) {
                alert('Usuario actualizado correctamente');
                window.location.href = '/productsmongoose'; 
            } else {
                alert('Hubo un problema al actualizar el usuario 1');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un problema al actualizar el usuario');
        });
    });
</script>