<div>

    <div>
    <div class="contenedorTituloPrincipal">
 <h2>Detalle del Producto</h2>

  </div>

     
    <div class="contenedorprincipal">
        <div class="contenedorProductos" >

      
       <div class="card container" style="width: 25rem;"><br>
            <div class="contenedorProductos">Nombre y Apellido: {{user.first_name}} {{user.last_name}} </div><br>
            <div class="contenedorProductos">Email: {{user.email}} </div> 
            <div class="contenedorProductos">Age: {{user.age}}</div>
            <div class="contenedorProductos">Rol: {{user.rol}}</div>
            <div class="contenedorProductos">Last connection: {{user.last_connection}} </div>
            <button id="delete" class="btn btn-primary margen" data-user-id="{{ user._id }}">Eliminar</button>
            <a href="/allusers/{{user._id}}/update" class="btn btn-primary margen">Actualizar Usuario</a>
 </div>
                
              
                </div>
       
            </div>

        </div>

    </div>
  <div class="margen">

  <a href="/allusers" class="btn btn-primary">Volver a ver usuarios</a>
  <br>
 
</div>
    </div>
<script src="/socket.io/socket.io.js"></script>
   
<script src="/static/js/index.js"></script>

<script>


    document.querySelector('#delete').onclick = e =>{
        
const id = e.target.dataset.userId;
    
      
            fetch(`/allusers/${id}`, { method: 'delete' })
                .then(response => {
                    if (response.ok) {
                        alert('Eliminado con éxito');
                        document.location.href = '/allusers';
                    } else {
                        alert('No se pudo eliminar');
                    }
                })
                .catch(e => {
                    alert('No se pudo eliminar (catch)');
                });
        } 

</script>